@import  url(https://fonts.googleapis.com/css?family=Montserrat);

navbar {
    
    font-size: 120px;
    
}

body{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: Montserrat;
  background: #ffa556;
}

/*
form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 4rem auto 0;
    max-width: 26rem;
}

.input-field{
    padding: 0 .5em 2em;
}

.input-field.half {
    flex: 1 0 50%;
}

label {
    display: block;
    position: relative;
    z-index: -9;
    top: 1.5rem;
    color: rgba(255,255,255,.4);
    font-size: .875rem;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    transition: top .3s ease, color .3s ease;
}

label.raised{
    top: 0rem;
}

label.highlight {
    color: rgba(255,255,255,.6);
}

.input-field.full {
    flex: 2 0 100%;
}
*/

.form {
    margin-top: 50px;
}

.row {
    margin: 30px 0;
    position: relative;
}

label {
    font-size: 18px;
    font-weight: bold;
    position: absolute;
    top: 15px;
    left: 0;
    -webkit-transition: .1s;
    -o-transition: .1s;
    transition: .1s;
}

input{
    
    padding: 15px 0 15px;
    width: 100%;
    border: none;
    border-bottom: 3px solid #34495e;
    font-size: 20px;
    background: #ecf0f1;
}

input:valid ~ label,
input:focus ~ label {
    top: -20px;
    font-weight: bold;
}

table {
	margin-bottom: 1em;
}
table td {
	padding: 3px;
}
.table1 {
	border: 1px solid red;
}
.table2,.table2 td {
	border: 1px solid silver;
	border-collapse: collapse;
}
.table2 td:first-child {
	background-color: orange;
}
.CSSTableGenerator {
	margin: 0px;
	padding: 0px;
	width: 100%;
	box-shadow: 10px 10px 5px #888888;
	border: 1px solid #000000;
	-moz-border-radius-bottomleft: 0px;
	-webkit-border-bottom-left-radius: 0px;
	border-bottom-left-radius: 0px;
	-moz-border-radius-bottomright: 0px;
	-webkit-border-bottom-right-radius: 0px;
	border-bottom-right-radius: 0px;
	-moz-border-radius-topright: 0px;
	-webkit-border-top-right-radius: 0px;
	border-top-right-radius: 0px;
	-moz-border-radius-topleft: 0px;
	-webkit-border-top-left-radius: 0px;
	border-top-left-radius: 0px;
}
.CSSTableGenerator table {
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
}
.CSSTableGenerator tr:last-child td:last-child {
	-moz-border-radius-bottomright: 0px;
	-webkit-border-bottom-right-radius: 0px;
	border-bottom-right-radius: 0px;
}
.CSSTableGenerator table tr:first-child td:first-child {
	-moz-border-radius-topleft: 0px;
	-webkit-border-top-left-radius: 0px;
	border-top-left-radius: 0px;
}
.CSSTableGenerator table tr:first-child td:last-child {
	-moz-border-radius-topright: 0px;
	-webkit-border-top-right-radius: 0px;
	border-top-right-radius: 0px;
}
.CSSTableGenerator tr:last-child td:first-child {
	-moz-border-radius-bottomleft: 0px;
	-webkit-border-bottom-left-radius: 0px;
	border-bottom-left-radius: 0px;
}
.CSSTableGenerator tr:hover td {
}
.CSSTableGenerator tr:nth-child(odd) {
	background-color: #ffaa56;
}
.CSSTableGenerator tr:nth-child(even) {
	background-color: #ffffff;
}
.CSSTableGenerator td {
	vertical-align: middle;
	border: 1px solid #000000;
	border-width: 0px 1px 1px 0px;
	text-align: left;
	padding: 7px;
	font-size: 10px;
	font-family: Arial;
	font-weight: normal;
	color: #000000;
}
.CSSTableGenerator tr:last-child td {
	border-width: 0px 1px 0px 0px;
}
.CSSTableGenerator tr td:last-child {
	border-width: 0px 0px 1px 0px;
}
.CSSTableGenerator tr:last-child td:last-child {
	border-width: 0px 0px 0px 0px;
}
.CSSTableGenerator tr:first-child td {
	background: -o-linear-gradient(bottom, #ff7f00 5%, #bf5f00 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ff7f00), color-stop(1, #bf5f00));
	background: -moz-linear-gradient(center top, #ff7f00 5%, #bf5f00 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff7f00", endColorstr="#bf5f00");
	background: -o-linear-gradient(top, #ff7f00, bf5f00);
	background-color: #ff7f00;
	border: 0px solid #000000;
	text-align: center;
	border-width: 0px 0px 1px 1px;
	font-size: 14px;
	font-family: Arial;
	font-weight: bold;
	color: #ffffff;
}
.CSSTableGenerator tr:first-child:hover td {
	background: -o-linear-gradient(bottom, #ff7f00 5%, #bf5f00 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ff7f00), color-stop(1, #bf5f00));
	background: -moz-linear-gradient(center top, #ff7f00 5%, #bf5f00 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff7f00", endColorstr="#bf5f00");
	background: -o-linear-gradient(top, #ff7f00, bf5f00);
	background-color: #ff7f00;
}
.CSSTableGenerator tr:first-child td:first-child {
	border-width: 0px 0px 1px 0px;
}
.CSSTableGenerator tr:first-child td:last-child {
	border-width: 0px 0px 1px 1px;
}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    vertical-align: middle;
}

.button2 {background-color: #008CBA;} /* Blue */